body {
    background-color: rgb(238, 227, 227);
    border: 5px solid rgb(248, 243, 243);
    width: 100%;
    height: 100%;
    font-family: 'Inika', 'Poppins', serif;
  }
  
  .wrapper {
  margin: 0 auto;
  padding: 0 100px
  
  }
  
  .accordeon:hover{
    cursor: pointer;
    transition: all 0.5s linear;
  }
  
  h1{
    font-weight: 700;
  }
  
  .accordeon {
    margin: 20px auto;
  }
  
  .accordeon-item {
    border: 1px solid grey;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
   
  }
  
  .img{
    display: none;
    width: 30%;
  }
  
  
  .img:hover{
    cursor: pointer;
  }
  
  
  .accordeon-title {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 15px;
    font-weight: 700;
    font-size: 34px;
    color: blue;
    position: relative;
    
  }
  
  .accordeon-title:hover {
  color: black;
  }
  
  .accordeon-input {
    appearance: none;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .accordeon-input:checked + .img {
  display: block;
  margin-left: auto;
      margin-right: auto;
      width: 50%;
  }
  
  .accordeon-input:hover + .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    }
  
    .bar {
      display: none;
      width: 30px;
      height: 3px;
      margin: 5px auto;
      -webkit-transition: all 0.3s ease-in-out;
      background-color: black;
    }
  
    .bar:nth-child(1) {
      transform: translateY(8px) rotate(90deg);
    }
  
    .accordeon:hover .bar {
    display: block;
    transition: all 0.5s ease-in;
    }
  
    .accordeon:hover .accordeon-title {
      color: black;
      }
  
  
  
  
    @media (max-width: 820px) {
  
      .wrapper {
        margin: 0 auto;
        padding: 0 20px
        }
  
        .accordeon-title{
        font-size: 24px;
        }
  
        .img img {
          max-width: 70%;
        }
  
        .bar {
          width: 20px;
          height: 3px;
     }
  
     .title {
      font-size: 2em;
   }
    }
  
     @media (max-width: 320px) {
      .accordeon-title{
        font-size: 15px;
        }
  
        .wrapper {
          margin: 0 auto;
          padding: 0px;
          }
  
          .img {
  max-width: 250px;
          }
  
          .bar {
            width: 15px;
            height: 3px;
       }
  
       .title {
        font-size: 1em;
     }
    }
  
  